TAILSCALE_AUTHKEY=tskey-auth-kLaQAuhUF811CNTRL-3EYxBetNntJo6Uf2zaW6tJNC1oxXMoX1
FLY_API=FlyV1 fm2_lJPECAAAAAAACcIoxBCLlDf/bUdDbwYvaJhWk39KwrVodHRwczovL2FwaS5mbHkuaW8vdjGUAJLOABLVvB8Lk7lodHRwczovL2FwaS5mbHkuaW8vYWFhL3YxxDzM6G/vXL8WoeHcjTGrplgF4EL+k5P4L+PJutdpME/quz4zwUhskpS+ZtEvzSQ05rMr0Qw0Vs6S25JLWGHETiQyQeU33215YtDRVlcaEe++Q4EcAji2ETUafnV34wAm8Jhh4STmmWneoAjYmfty/TbJKQmRRxRkl5xD4kWs4KkvCyXi98ZQfC8qHaAPIsQg3ObzDn1ESwlHlaxf5ywE/i1UjImjARF3POZ1g96ropo=,fm2_lJPETiQyQeU33215YtDRVlcaEe++Q4EcAji2ETUafnV34wAm8Jhh4STmmWneoAjYmfty/TbJKQmRRxRkl5xD4kWs4KkvCyXi98ZQfC8qHaAPIsQQJsOAHgnqkLrBbg/HBALckMO5aHR0cHM6Ly9hcGkuZmx5LmlvL2FhYS92MZgEks5oq1gVzmkh/zMXzgAEYnMKkc4ABGJzDMQQZ+JkMeyb2At2y3v5FVHXe8QgJdx1TnwjuPQhYRz0s1GwQ8TGPHyGaeiTbwHMpAORA+0=
